html {
  font-size: 62.5%;
  background-color: rgb(200 200 210);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 100vh;
  margin: 0;
  font-size: 1.6rem / 1.5 Verdana;
}

.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;

  caption& {
    position: static;
  }

  &.focusable:focus {
    overflow: initial;
    position: static;
    clip: auto;
    clip-path: unset;
    width: initial;
    height: initial;
    margin: initial;
    white-space: initial;
  }
}